* {
    margin: 0 auto;
}

html, body {
    height: 100vh;
}

@media screen and (max-width: 500px) {
    .content {
        width: auto;
    }
}

.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content div {
    display: none;
}

#aboutMe, #lists div, #info {
    display: block;
}

#lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

#lists div {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.underline {
    text-decoration: underline;
}

#info {
    margin: 20px;
    padding: 20px;
    margin-top: 50px;
    background: #b0b0b0;
    min-height: 200px;
    border-radius: 30px;
    line-height: 1.5em;
    font-size: 0.5em;
}

.container {
    animation-name: show;
    /* SMOOTHNESS */
    animation-duration: 5s;
    /* /SMOOTHNESS */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container a {
    text-decoration: none;
}

.container .header-main {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 7rem;
    text-transform: uppercase;
    background: repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    position: relative;
    height: 545px;
    width: 500px;
    box-shadow: 4px 4px 4px 4px #cdcdcd;
    font-family: 'Socular One', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;



    --border-size: 3px;
    --border-angle: 0turn;
    border-radius: 3%;
    background-image: conic-gradient(
        from var(--border-angle),
        #a0a0a0,
        #a0a0a0 50%,
        #a0a0a0
        ),
        conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
        cover;
    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
        to {
        --border-angle: 1turn;
        }
    }
}

@property --border-angle {
syntax: "<angle>";
inherits: true;
initial-value: 0turn;
}

.content h3, h5 {
    text-align: center;
}

.content p, a{
    position: relative;
    font-size: 1.3rem;
    left: 20px;
    padding: 5px;
}


.content li {
    font-size: 1.3rem;
}

#contacts p {
    font-size: 1.2rem;
}

.container svg {
    width: 64px;
    height: 64px;
}

.container svg {
    fill: #f00;
    transition: all ease 1.5s;
}

.container svg:hover {
   fill: #000000;
}

.buttons {
    bottom: 0.1rem;
    position: absolute;
    background: #000;
    min-height: 50px;
    min-width: 452px;
    border-radius: 10px;
    left: 4px;
}

.buttons li {
    right: 32px;
    margin-right: 25px;
    margin-left: 25px;
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s all ease;
}

.buttons li:hover {
    color: #cdcdcd;
    transition: 0.4s all ease;
}

.buttons li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0051ff;
    transform-origin: bottom right left;
    transition: transform 0.5s ease-out;
}

.buttons li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left right;
}